<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salão Amanda Pavão</title>

    <link rel="stylesheet" href="static/style.css">

</head>
<header>
   
    <ul class="nav" id="nav">
        <li><a href="/index"> Home</a></li>
        <li><a href="/usuario"> Sistema</a></li>
    </ul>
    
</header>

{% block conteudo %}
    
{% endblock %}

<h6>Projeto Desenvolvido por Leandro Vieira Reis.</h6>
</html>